/*footer address*/
.footer-address {
  width: 231px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* address-street */
.address-street {
  color: $second-text-color;
  margin-bottom: 9px;
}

/* address-mail */
.address-email {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.address-number {
  color: rgba(255, 255, 255, 0.6);
  flex-wrap: wrap;
}

strong {
  color: $second-text-color;
}
