/* ПІДПИСКА */
.footer .subscription {
  margin-top: 12px;
  width: 570px;
  padding-left: 0;
  margin-left: 0;
}

.email-subscription {
  display: flex;
  justify-content: space-between;
}

.form-subscription input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-flex;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  padding: 16px 15px;

  outline: none;
}

.form-subscription input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-left: 16px;
}

/*-button (базовий стиль)-*/
.button {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  min-width: 200px;
  height: 50px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* перетворення в рядково-блочний ел*/
  display: inline-flex;
  /* заокруглення кнопки*/
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* забирає обводку при натисканні */
  outline: none;
}

/*-Кнопка футера-*/
.subscription .button {
  padding: 13px 28px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}
