/* ПІДПИСКА */
.footer .subscription {
  margin-top: 12px;
  width: 570px;
  padding-left: 0;
  margin-left: 0;
}

.email-subscription {
  display: flex;
  justify-content: space-between;
}

.form-subscription input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-flex;
  border-radius: 4px;
  color: $fourth-text-color;
  background: $footer-bg-color;
  padding: 16px 15px;

  outline: none;

  &::placeholder {
    color: $fourth-text-color;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    margin-left: 16px;
  }
}

/*-Кнопка футера-*/
.subscription .button {
  padding: 13px 28px;

  & .icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: $second-text-color;
  }
}
